body{
    font-family: Arial;
    background:#0f1a2b;
    color:white;
    text-align:center;
}

h1{
    margin-top:20px;
}

.controls input,
.controls select,
.addBox input{
    padding:8px;
    margin:5px;
    border-radius:6px;
    border:none;
}

button{
    padding:8px 12px;
    border:none;
    border-radius:6px;
    background:#28c76f;
    color:white;
    cursor:pointer;
}

.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:#1e2b44;
    padding:15px;
    margin:10px;
    border-radius:12px;
    width:200px;
    box-shadow:0 5px 10px rgba(0,0,0,.5);
}

.card img{
    width:100%;
    border-radius:8px;
}